services:
  - type: web
    name: zonesport-frontend
    env: node
    plan: starter
    buildCommand: cd client && npm install && npm run build
    startCommand: cd client && npm run start
    envVars:
      - key: NEXT_PUBLIC_API_URL
        scope: run
        value: ${NEXT_PUBLIC_API_URL}
      - key: NODE_ENV
        value: production

  - type: web
    name: zonesport-backend
    env: node
    plan: starter
    buildCommand: cd server && npm install
    startCommand: cd server && npm run start:prod
    envVars:
      - key: DB_HOST
        scope: run
        value: ${DB_HOST}
      - key: DB_PORT
        scope: run
        value: ${DB_PORT}
      - key: DB_USERNAME
        scope: secret
        value: ${DB_USERNAME}
      - key: DB_PASSWORD
        scope: secret
        value: ${DB_PASSWORD}
      - key: DB_NAME
        scope: run
        value: ${DB_NAME}
      - key: JWT_SECRET
        scope: secret
        value: ${JWT_SECRET}
      - key: JWT_RESET_SECRET
        scope: secret
        value: ${JWT_RESET_SECRET}
      - key: CORS_ORIGIN
        scope: run
        value: ${CORS_ORIGIN}
      - key: FRONTEND_URL
        scope: run
        value: ${FRONTEND_URL}
      - key: RESEND_API_KEY
        scope: secret
        value: ${RESEND_API_KEY}
      - key: NODE_ENV
        scope: run
        value: production
      - key: PORT
        scope: run
        value: 3001
